prefix = "__prefix__"

environment_name = "__environment__"

location = "__location__"

common_tags = __common_tags__

vm_username = "__vm_username__"

vm_password = "__vm_password__"

vm_image_id = "__vm_image_id__"

vm_image_ref = __vm_image_ref__

vm_size = "__ado_vm_size__"

vmss_instances = "__ado_vmss_instances__"

# Load Balancer variables

outbound_internet_enabled = __outbound_internet_enabled__

remote_port = __remote_port__

lb_port = __lb_port__

# SQL MI target variables

forwarder_fqdn_or_ip = "__forwarder_fqdn_or_ip__"

vnet_rg_name = "__vnet_rg_name__"

vnet_name = "__vnet_name__"

subnet_name = "__subnet_name__"
